@model BSD_ECOM.ViewModel.IndexViewModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <div class="page-header mt-30 mb-50">
        <div class="container-fluid">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-3">
                        <h1 class="mb-15">About Us</h1>
                        <div class="breadcrumb">
                            <a href="/Home/Index" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                             <span></span> About Us 
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <section class="subscription">
        <div class="container">
           
            @if (Model.abouts.Count > 0)
            {
                @foreach (var item in Model.abouts)
                {                    
                        @Html.Raw(item.AboutText)
                 
                }
            }

        </div>
    </section>
</main>
