@model BSD_ECOM.ViewModel.IndexViewModel
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index_New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="subscription pt-60 pb-60">
        <div class="container">
           
            <div class="row">
                <div class="col-md-12">
                    <div class="title_tag text-center">
                        <h4>
                            <a href="video.html" style="color: red; text-transform: capitalize;padding-bottom: 20px;display: block;">Vasant vihar team harmony video</a>
                        </h4>
                        <h2>
                            TEAM HARMONY
                        </h2>
                    </div>
                </div>
                    <div class="col-md-12 pt-40">
                        <div class="row justify-content-center text-center">
                            <div class="col-md-12">
                                <h3>PRESIDENT</h3>
                            </div>
                            <div class="col-md-2">
                                <a href="/WelfareDetails/4"> 
                                <div class="team_box pt-30">
                                    <img width="100%" src="~/images/Welfare//Photos/Deepak Mishra.jpeg" />
                                    <p>MISHRA DEEPAK<br>
                                    Ballot No. 2
                                </p>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                <div class="col-md-12 pt-50">
                    <div class="row text-center" style="justify-content: space-between;">
                        <div class="col-md-12">
                            <h3>VICE PRESIDENTS</h3>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <a href="/WelfareDetails/18"> 
                            <div class="team_box pt-30">
                                <img width="100%" src="~/images/Welfare//Photos/Sumant Mathur.jpeg" />
                                <p>MATHUR SUMANT<br>
                                    Ballot No. 1                                    
                                    </p>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="/WelfareDetails/12"> 
                            <div class="team_box pt-30">
                                <img width="100%" src="~/images/Welfare//Photos/Girish Sareen.jpeg" />
                                <p>SAREEN GIRISH<br>
                                    Ballot No. 3                                   
                                    </p>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>

                <div class="col-md-12 pt-50">
                    <div class="row text-center" style="justify-content: space-between;">
                        <div class="col-md-12">
                            <h3>LADY MEMBERS</h3>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <a href="/WelfareDetails/20"> 
                            <div class="team_box pt-30">
                                <img width="100%" src="~/images/Welfare//Photos/Usha Gupta.jpeg" />
                                <p>GUPTA USHA<br>
                                    Ballot No. 2                                    
                                    </p>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="/WelfareDetails/19"> 
                            <div class="team_box pt-30">
                                <img width="100%" src="~/images/Welfare//Photos/Sanjana Raj.jpeg" />
                                <p>RAJ SANJANA<br>
                                    Ballot No. 4                                  
                                    </p>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>

                <div class="col-md-12 pt-50">
                    <div class="row text-center" style="justify-content: space-between;">
                        <div class="col-md-12">
                            <h3>MEMBERS</h3>
                        </div>
                        <div class="col-md-2">
                            <a href="/WelfareDetails/21"> 
                            <div class="team_box pt-30">
                                <img width="100%" src="~/images/Welfare//Photos/Vijay Paul Benjamil.jpeg" />
                                <p>BENJAMIN VIJAY PAUL<br>
                                    
                                    Ballot No. 1                                   
                                    </p>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="/WelfareDetails/15"> 
                            <div class="team_box pt-30">
                                <img width="100%" src="~/images/Welfare//Photos/Group Capt Ravinder.jpeg" />
                                <p>CHHATWAL RAVINDER S. GP. CAPT.<br>
                                    Ballot No. 2                                  
                                    </p>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="/WelfareDetails/13"> 
                            <div class="team_box pt-30">
                                <img width="100%" src="~/images/Welfare//Photos/Neerj Gover.jpeg" />
                                <p>GROVER NEERAJ<br>
                                    Ballot No. 3                                    
                                    </p>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="/WelfareDetails/17"> 
                            <div class="team_box pt-30">
                                <img width="100%" src="~/images/Welfare//Photos/Ravish Kumar Gujral.jpeg" />
                                <p>GUJRAL RAVISH KUMAR<br>
                                    Ballot No. 4                                    
                                    </p>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="/WelfareDetails/14"> 
                            <div class="team_box pt-30">
                                <img width="100%" src="~/images/Welfare//Photos/Puneet Kapur.jpeg" />
                                <p>KAPUR PUNEET<br>
                                    Ballot No. 5                                    
                                    </p>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="/WelfareDetails/16"> 
                            <div class="team_box pt-30">
                                <img width="100%" src="~/images/Welfare//Photos/Rajkamal Sharma.jpeg" />
                                <p>SHARMA RAJKAMAL<br>
                                    Ballot No. 10                                    
                                    </p>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>



