@model BSD_ECOM.ViewModel.IndexViewModel
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "WelfareDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .products-im p img {
        width: 15%;
        float: left;
        height: 230px;
        object-fit: cover;
        margin-right: 20px;
        border-radius: 50%;
    }
    .products-im {
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
    }
    @@media (max-width: 769px) {
        .products-im p img {
            width: 100%;
            float: initial;
            height: auto !important;
            object-fit: cover;
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }
</style>
<main class="main">
    <br />
    @if (Model.Welfares.Count > 0)
    {
        @foreach (var item in Model.Welfares)
        {
            <section id="@item.Welfare_Name">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="products-im">
                                <p><img src="/images/Welfare/@HttpContextAccessor.HttpContext.Session.GetInt32("SiteId")/@item.img"> </p><h5 style="margin-bottom: 5px;font-weight: 500;">@item.Welfare_Name </h5>@Html.Raw(item.content)<p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    }
</main>

