
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>ForgotPassword</h3>

<div class="container-fluid" id="bdy">
    <br>
    <div class="mb-4">
        @* <div class="card-header py-3">
            <h6 id="header" class="m-0 font-weight-bold text-primary">Forgot Password</h6>
        </div> *@
      @*   <div class="card-body"> *@
            <form class="new-customer-form row">
                <input type="hidden" id="txtHiddenId" value="0" />
                <input type="hidden" id="flgmode" value="ADD" />
                <input type="hidden" id="UserId" value="@ViewBag.Adminid" />
                <input type="hidden" id="hidemail" value="@ViewBag.id" />
                @* <div class="col-lg-3">
                    <div class="form-group">
                        <label>Old Password</label>
                        <input type="text" class="form-control form-control-user" name="fname" id="txtoldpass" placeholder="Please Enter Old Password">
                    </div>
                </div> *@
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="text" class="form-control form-control-user" name="fname" id="txtnewpass" placeholder="Please Enter New Password">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input type="text" class="form-control form-control-user" name="fname" id="txtconfirmpass" placeholder="Please Enter Confirm Password">
                    </div>
                </div>
                <div class="col-lg-1" style="margin-top:auto">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="btnSubmit" onclick="IChangePassworddd()">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    @* </div> *@
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="@Url.Content("~/js/Front/Customer.js")"></script>
<script>
    // function IChangePassword() {
    //     var NewPassword = $('#txtnewpass').val();
    //     var ConfirmPassword = $('#txtconfirmpass').val();
    //     var email = $('#hidemail').val();
    //     $.ajax({
    //         type: "POST",
    //         url: '/Customer/IChangePassword',
    //         data: { NewPassword: NewPassword, ConfirmPassword: ConfirmPassword, email; email },
    //         dataType: "JSON",
    //         success: function (result) {
    //             if (result.message == "Password Changed Successfully") {
    //                 alert("Password Changed Successfully");
    //             } else { 
    //                 alert("New Password nad Confirm Password do not match");
    //             }
               
    //         },
    //         error: function (errormessage) {
    //             alert(errormessage.responseText);
    //         }
    //     });
    // }
</script>