
@{
    ViewData["Title"] = "HSNMaster";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="content-wrapper">
        <div class="container-full">
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">HSN Master</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">HSN Master</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!--Main content-->
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <div class="box-body">
                                <form action="#">
                                    <div class="form-body">
                                        <input type="hidden" id="ID" value="0" name="ID" />
                                        @*<input type="hidden" id="CompanyId" value="6" name="CompanyId" />*@
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="font-weight-700 font-size-16">HSN Name</label>
                                                    <input type="text" class="form-control" id="txthsnname" name="HSNName" placeholder="HSN Name" />
                                                    <div class="error"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="font-weight-700 font-size-16">HSN Code</label>
                                                    <input type="text" class="form-control" id="txthsncode" name="HSNCode" placeholder="HSN Code" />
                                                    <div class="error"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="font-weight-700 font-size-16">Status</label>
                                                    <input type="checkbox" id="chkStatus" checked />Active
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions mt-10">
                                        <input type="button" class="btn btn-primary" id="btnSave" onclick="SaveHSN()" value="Save" />
                                        <input type="button" class="btn btn-danger" value="Clear" onclick="clearHsnField()" />
                                    </div>
                                </form>
                                <div class="table-responsive rounded card-table">
                                    <table id="example1" class="table border-no">
                                        <thead>
                                            <tr>
                                                <th style="display:none">Id</th>
                                                <th>HSN Name</th>
                                                <th>HSN Code</th>
                                                <th>Status</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbodyData"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ Content-->
        </div>
    </div>
    <script src="@Url.Content("~/js/Admin/HSNMaster.js")"></script>
    <script>
        ShowDataInTable();
    </script>
</body>
</html>
