@*@model BSD_ECOM.Areas.Admin.Models.MainCategory*@
@{
    ViewData["Title"] = "MainCategoryReport";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="content-wrapper">
        <div class="container-full">
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">Main Category Report</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">Main Category Report</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!--Main content-->
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <div class="box-body">
                                <form action="#">
                                    <div class="form-body">
                                        <input type="hidden" id="reg_id" value="0" />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="font-weight-700 font-size-16">Main Category</label>
                                                    <input type="text" class="form-control" id="txtSuperCategory" onchange="ReTableBind()" placeholder="Super Category"/>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="button" class="btn btn-danger" value="Search" onclick="Searchbyname()" />
                                                <input type="button" class="btn btn-success" value="Clear" onclick="Clear1()"/>
                                                <input type="button" class="btn btn-primary" value="Exit" onclick="Clear1()"/>
                                            </div>
                                        </div>
                                        <div class="table-responsive rounded card-table">
                                            <table class="table border-no" id="example">
                                                <thead>
                                                    <tr>
                                                        <th style="display:none">Id</th>
                                                        <th>Category Name</th>
                                                        <th>Status</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="tbodyData"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ Content-->
        </div>
    </div>
    <script src="@Url.Content("~/js/Admin/MainCategory.js")"></script>
    <script type="text/javascript">
        ShowDataInTableReport();
    </script>
</body>
</html>
