
@{
    ViewData["Title"] = "Returned_Orders";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="content-wrapper">
        <div class="container-full">
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">Returned Orders</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">Returned Orders</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!--Main content-->
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <div class="box-body row">
                                <div class="col-md-12" style="margin-bottom:20px;">
                                    <form action="#">
                                        <div class="form-body">
                                            <div id="divDescription">
                                                <div class="row">
                                                    <input type="hidden" id="order_id" />
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="font-weight-700 font-size-16"> From Date </label>
                                                            <input type="date" class="form-control" id="txtfdate" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="font-weight-700 font-size-16"> To Date </label>
                                                            <input type="date" class="form-control" id="txttdate" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="font-weight-700 font-size-16">User Name</label>
                                                            <select id="ddlUserNames" class="form-control" tabindex="1" name="UserName" onchange="SearchReturned_Orders();">
                                                                <option value="0">Select UserNane</option>
                                                                @if (ViewBag.ItemUserNane != null)
                                                                {
                                                                    foreach (var item in ViewBag.ItemUserNane as List<SelectListItem>)
                                                                    {
                                                                        <option value="@item.Value">@item.Text</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions mt-10">
                                            <input type="button" class="btn btn-primary" id="btnSave" onclick="SearchReturned_Orders();"
                                                   value="Serach" />
                                            <input type="button" class="btn btn-danger" value="Clear" onclick="Cleartext()" />
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-12">
                                    <table id="data-table" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Order No</th>
                                                <th>Customer</th>
                                                <th>Amount</th>
                                                <th>Order Date</th>
                                                <th>Return Date</th>
                                                <th>Return Type</th>
                                                <th>Payment Mode</th>
                                                <th>View</th>
                                                <th>Approved</th>
                                            </tr>
                                        </thead>
                                        <tbody class="Returned_Ordersbody"></tbody>
                                    </table>
                                    <div class="form-actions mt-10" style="text-align:right;display:none">
                                        <input type="button" class="btn btn-primary" id="btnUpdate" name="btnUpdate"
                                               value="UPDATE" onclick="ApproveReturn()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="modal fade" id="returnPopup" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                                    <div class="box">
                                        <div class="box-body">
                                            <form>
                                                <div class="form-body">
                                                    <input type="hidden" id="hiddenorderid" />
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="font-weight-700 font-size-16">Payment Mode</label>
                                                            <select id="ddlpayemtmode" class="form-control" onchange="returnPaymentmodechange(this.value)">
                                                                <option value="0">Select Payment Mode</option>
                                                                <option value="1">Online</option>
                                                                <option value="2">Cash</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="col-md-12" id="divTransactionNumber" style="display:none">
                                                            <div class="form-group">
                                                                <label class="font-weight-700 font-size-16">Transaction Number</label>
                                                                <input type="text" class="form-control" id="txttransactionNo" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-weight-700 font-size-16">Amount</label>
                                                                <input type="text" class="form-control" id="txtamount" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="font-weight-700 font-size-16">Remarks</label>
                                                                <input type="text" class="form-control" id="txtremarks" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-actions mt-10" id="onlineupdatebtn">
                                                    <input type="button" class="btn btn-primary" id="btnupdate" value="UPDATE" onclick="UpdateReturn()"/>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/js/Admin/Orders.js")"></script>
    <script type="text/javascript">
        var Today = Todaydate();
        $("#txtfdate").val(Today);
        $("#txttdate").val(Today);
        ShowReturned_Orders();
    </script>

</body>
</html>
